@use colors

.at-collapsible
    display: flex
    flex-direction: column
    gap: 5px

.at-collapsible-toggler
    opacity: 0.6

.at-collapsible-header
    display: flex
    align-items: center
    gap: 5px
    cursor: pointer
    user-select: none

.at-collapsible-content
    margin-left: 7px
    padding-left: 14px
    border-left: 1px solid $colors.border
