@use session
@use colors
@use typography

.at-message-text
    white-space: pre-wrap
    overflow-wrap: anywhere

.at-message-title
    font-size: .85rem
    opacity: 0.7

.at-assistant-message-container
    display: flex
    flex-direction: column
    gap: $session.session_item_gap

.at-reasoning
    opacity: 0.7
    font-size: 0.9em

.at-tool-call-name
    font-size: .85rem
    color: $colors.tool_call_name

.at-tool-call-header
    display: flex
    align-items: center
    gap: 5px

.at-tool-call-details
    border: 1px solid $colors.border
    border-radius: 5px
    padding: 10px
    display: flex
    flex-direction: column
    gap: 10px
    overflow: hidden

.at-tool-call-status-icon
    color: #22c55e
    &.failed
        color: #ef4444

.at-tool-call-result
    font-family: $typography.mono_font
    font-size: 0.85rem
