@use session
@use colors
@use typography

.at-message-text
    white-space: pre-wrap
    overflow-wrap: anywhere

.at-message-title, .at-message-preview
    font-size: .85rem
    opacity: 0.7

.at-message-preview
    opacity: 0.5

.at-assistant-message-container
    display: flex
    flex-direction: column
    gap: $session.session_item_gap

.at-reasoning
    opacity: 0.7
    font-size: 0.9em

.at-tool-call-name
    font-size: .85rem
    color: $colors.tool_call_name

.at-tool-call-header
    display: flex
    align-items: center
    gap: 5px

.at-tool-call-details
    border: 1px solid $colors.border
    border-radius: 5px
    padding: 10px
    display: flex
    flex-direction: column
    gap: 10px
    overflow: hidden

.at-tool-call-details-content
    max-height: 600px
    overflow-y: auto
    .at-json-tree-primitive
        color: #D2A8FF

.at-tool-call-status-icon
    color: $colors.tool_call_icon_success
    &.failed
        color: $colors.tool_call_icon_failed

.at-tool-call-result
    font-family: $typography.mono_font
    font-size: 0.85rem
    white-space: pre-wrap
    overflow-wrap: anywhere
    &.success
        color: $colors.tool_call_success_result_fg
    &.failed
        color: $colors.tool_call_error_result_fg

.at-repl-details-input
    display: flex
    gap: 10px

    .prompt
        flex-shrink: 0
        opacity: 0.5
