:root
    --bg: #0a0a0a
    --fg: #d7d8d9
    --border: #444
    --border-hover: #EB4C08

    --app-header-border: #333
    --app-icon-color: #444
    --app-icon-color-hover: #FDC023

    --tool-call-icon-success: #22c55e
    --tool-call-icon-failed: #ef4444
    --tool-call-name: #fdba74
    --tool-call-error-result-fg: #eb6f92
    --tool-call-success-result-fg: #c6f5c5

    --scroll-bar-bg: #222
    --scroll-bar-fg: #444
