:root
    --bg: #0a0a0a
    --fg: #d7d8d9
    --border: #444
    --border-hover: #EB4C08

    --tool-call-icon-success: #22c55e
    --tool-call-icon-failed: #ef4444
    --tool-call-name: #fdba74
    --tool-call-error-result-fg: #eb6f92
